version: "{build}"

# Source Config
clone_folder: c:\gopath\src\github.com\cristianoliveira\ergo

# Build host

environment:
  GOPATH: c:\gopath
  DEPTESTBYPASS501: 1
  GOVERSION: 1.8

init:
  - git config --global core.autocrlf input

# Build

install:
  # Install the specific Go version.
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.msi
  - msiexec /i go%GOVERSION%.windows-amd64.msi /q
  # - choco install bzr
  - set Path=c:\go\bin;c:\gopath\bin;C:\Program Files (x86)\Bazaar\;C:\Program Files\Mercurial\%Path%
  - go version
  - go env

build: false

build_script:
  - go build -o bin/ergo.exe -i .
  - choco install 7zip
  - 7z a -tzip ergo-$(appveyor_repo_tag_name)-win.zip bin/ergo.exe

# before_deploy:
#   - go build
#   - choco install 7zip
#   - echo "%APPVEYOR_REPO_TAG_NAME% - ${appveyor_repo_tag_name}"
#   - 7z a -tzip ergo-win.zip c:\gopath\src\github.com\cristianoliveira\ergo\*.exe

artifacts:
  - path: bin/ergo.exe
    name: ergo-win.zip
    type: zip

deploy:
  release: $(appveyor_repo_tag_name)
  provider: GitHub
  auth_token:
    secure: "XlXg6r5idqW5O3qBiQHbZ73goavVOVKYaZx11GW7s8DO+M0/ERBImmXa4TAHbSOj"
  draft: false
  prerelease: false
  on:
    # branch: master                 # release from master branch only
    appveyor_repo_tag: true

test_script:
  - go test ./... -v
