name: Integration tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.22"

      - name: Run integration tests
        run: make test-integration

      - name: Check intall linux
        run:
          curl -s https://raw.githubusercontent.com/cristianoliveira/ergo/master/install.sh | sh
